@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
}

/* Dropdown */

.dropdown-menu {
}

.dropdown-menu-enter {
  opacity: 0;
  transform: scale(0.85);
}

.dropdown-menu-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.dropdown-menu-done {
  opacity: 1;
  transform: scale(1);
}

.dropdown-menu-exit {
  opacity: 1;
  transform: scale(1);
}

.dropdown-menu-exit-active {
  opacity: 0;
  transform: scale(0.85);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

/* Dropdown ends */

/* Modal */

.modal[data-modal-open='true'] {
  animation: scale-up 100ms linear forwards;
}

.modal[data-modal-open='false'] {
  animation: scale-down 100ms linear backwards;
}

.modal-appear-enter {
  opacity: 0;
}

.modal-appear-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-out;
}

.modal-appear-exit {
  opacity: 1;
}

.modal-appear-exit-active {
  opacity: 0;
  transition: opacity 100ms linear;
}

@keyframes scale-up {
  0% {
    left: 50%;
    top: 50%;
    transform: scale(0.5) translate(-50%, -50%);
  }

  100% {
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes scale-down {
  0% {
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    left: 50%;
    top: 50%;
    transform: scale(0.9) translate(-50%, -50%);
  }
}

/* Modal ends */

/* Cards */

.cards .card {
  box-shadow: -1rem 0 3rem #000;

  transition: transform 200ms ease-out;
}

.cards .card:hover {
  transform: translateY(-1rem) rotate(3deg);
}

.cards .card:hover ~ .card {
  transform: translateX(130px);
}

.cards .card:not(:first-child) {
  margin-left: -130px;
}

.cards .card:hover .title {
  background: linear-gradient(90deg, #373b44, #4286f4);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background: #1e293b;
}

.cards::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.cards .content::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.cards .content::-webkit-scrollbar-thumb {
  background: #1e293b;
}

.cards .content::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

/* Cards ends */

/* Sheet */
.sheet[data-state='true'].slide-in-from-right {
  animation: slide-in-from-right 200ms ease-in-out forwards;
}

.sheet[data-state='false'].slide-out-to-right {
  animation: slide-out-to-right 200ms ease-in-out forwards;
}

.sheet[data-state='true'].slide-in-from-left {
  animation: slide-in-from-left 200ms ease-in-out forwards;
}

.sheet[data-state='false'].slide-out-to-left {
  animation: slide-out-to-left 200ms ease-in-out forwards;
}

.sheet[data-state='true'].slide-in-from-bottom {
  animation: slide-in-from-bottom 200ms ease-in-out forwards;
}

.sheet[data-state='false'].slide-out-to-bottom {
  animation: slide-out-to-bottom 200ms ease-in-out forwards;
}

.sheet-appear-enter {
  opacity: 0;
}

.sheet-appear-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.sheet-appear-exit {
  opacity: 1;
}

.sheet-appear-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out-to-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out-to-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out-to-bottom {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

/* Navigation Menu */
.navigation-menu-appear-enter {
  opacity: 0;
  transform: scaleX(0.95) scaleY(0.95);
}

.navigation-menu-appear-enter-active {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.navigation-menu-appear-exit {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.navigation-menu-appear-exit-active {
  opacity: 0;
  transform: scaleX(0.95) scaleY(0.95);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

[data-open='true'] .navigation-menu-item-appear-enter {
  opacity: 0;
  transform: translateY(-100%);
}

[data-open='true'] .navigation-menu-item-appear-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

[data-open='true'] .navigation-menu-item-appear-exit {
  opacity: 1;
  transform: translateY(0);
}

[data-open='true'] .navigation-menu-item-appear-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.open-indicator {
  transition: transform 200ms ease-in-out;
}

[data-open='true'] > .open-indicator {
  transform: rotate(0deg);
}

[data-open='false'] > .open-indicator {
  transform: rotate(-180deg);
}

/* Tooltip */
.tooltip-appear-enter {
  opacity: 0;
  transform: scaleX(0.9) scaleY(0.9);
}

.tooltip-appear-enter-active {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  transition: opacity 100ms ease-out, transform 100ms ease-out;
}

.tooltip-appear-exit {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.tooltip-appear-exit-active {
  opacity: 0;
  transform: scaleX(0.95) scaleY(0.95);
  transition: opacity 100ms ease-in, transform 100ms ease-in;
}

/* nav sidebar */
.nav-sidebar-scroll::-webkit-scrollbar {
  width: 5px;
}
