@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
}

.dropdown-menu {
}

.dropdown-menu-enter {
  opacity: 0;
  transform: scale(0.85);
}

.dropdown-menu-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.dropdown-menu-done {
  opacity: 1;
  transform: scale(1);
}

.dropdown-menu-exit {
  opacity: 1;
  transform: scale(1);
}

.dropdown-menu-exit-active {
  opacity: 0;
  transform: scale(0.85);
  transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.modal[data-modal-open='true'] {
  animation: scale-up 100ms linear forwards;
}

.modal[data-modal-open='false'] {
  animation: scale-down 100ms linear backwards;
}

.modal-appear-enter {
  opacity: 0;
}

.modal-appear-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-out;
}

.modal-appear-done {
  opacity: 1;
}

.modal-appear-exit {
  opacity: 1;
}

.modal-appear-exit-active {
  opacity: 0;
  transition: opacity 100ms linear;
}

.cards .card {
  box-shadow: -1rem 0 3rem #000;

  transition: transform 200ms ease-out;
}

.cards .card:hover {
  transform: translateY(-1rem) rotate(3deg);
}

.cards .card:hover ~ .card {
  transform: translateX(130px);
}

.cards .card:not(:first-child) {
  margin-left: -130px;
}

.cards .card:hover .title {
  background: linear-gradient(90deg, #373b44, #4286f4);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.cards::-webkit-scrollbar-thumb {
  background: #1e293b;
}

.cards::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.cards .content::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.cards .content::-webkit-scrollbar-thumb {
  background: #1e293b;
}

.cards .content::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

@keyframes scale-up {
  0% {
    left: 50%;
    top: 50%;
    transform: scale(0.5) translate(-50%, -50%);
  }

  100% {
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes scale-down {
  0% {
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    left: 50%;
    top: 50%;
    transform: scale(0.9) translate(-50%, -50%);
  }
}
